*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Montserrat";
  text-align: center;

}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat-Black";
  font-weight: bold;

}
.detalis{
  text-align: center;
}
/* #title.container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
} */
/* .title-img{
  margin-right:  30%;
  width: 60%;
} */
.big-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: left;
  color: #712B75;
}
.inner-heading{
  color: #570530;
  text-align:left;
  font-weight: bold;
}
.consultant{
  text-align: right;
  padding-left: 200px;
}

#title.container-fluid{
  padding: 3% 15% 7%;
  width: 1170px;
  margin: 0 auto;
  color: white;
}

.navbar{
  /* margin:  0 0 2.5rem; */

  color: white;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
    color: white;
  /* background-color: #712B75; */
}
.nav-item{
  padding: 0 18px;
  padding-left: 50px;
    color: white;

}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}
.row-1{
  height: 100vh;
  display: flex;
  align-items: flex-start;
  margin-top: 0;
  padding-top: 0;

  background-image: url(images/images-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

#pricing{
/* padding: 100px; */
/* background-color: #F7F7F7 ; */
}
.pricing-colum{
  padding: 3% 2%;
}
/* banner */
.banner{
  margin-top: 0;
left: 350px;
background-color: #062C30;
}
.card-text{

    background-color: #3A3845;
    color: #fff;
  font-family: "Montserrat-light";

}
.banner-text{
  text-align: center;
  padding-left: 500px;
  margin-top: 20px;
  font-family: "Montserrat";
  color: #C5D8A4;
}

#features{
  padding: 7% 15%;
  background-color: #FBD6D2;
  text-align: left;
  text-decoration: bold
  /* z-index: 1; */
  /* position: relative; */
}
.feature-title{
  font-size: 1.5rem;
}
.features-box{
    padding: 5%;
}
.icon{
  /* color: #ef8172; */
  margin-bottom: 1rem;
}
.btn:hover{
  color:#000000;
}
.button{
  text-align: center;

}
.baigan-btn{
  text-align: left;
}
/* testimonials */
#testimonials{
  padding: 7% 15%;
    background-color: #C0EDA6;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 0.5;
  color: #fff;
  text-align: center;
}
#portfolio{
  background-color: #DFDFDE;

}
.rounded{
  padding-left: 20px;
  margin-bottom: 10px;

}
.contact-text{
  background-color: #85F4FF;
  text-align: center;
  font-weight: bold;
  font-family: serif;
}
#footer{
  text-align:center;
}
